.props {
  background-color: blueviolet;
  height: 15vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  position: fixed;
  inline-size: 1;
}
.contenair {
  background-color: blue;
  width: 30%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 20vh;
  color: aliceblue;
}
.conte {
  background-color: rgb(226, 43, 144);
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  flex-direction: row;
  position: relative;
  top: 15vh;
}
